<div class="box">
  <div class="item" id="btn">
    <% if (titleName == "Work") { %>
    <a href="/">Daily List</a>
    <% } else { %>
    <a href="/Work">Work List</a>
    <% } %>
  </div>
</div>

</body>

<footer>
  Stay Focused
</footer>

</html>
